#python-dotenv
#requests

#pandas
#openpyxl
#xlsxwriter

# Natural Language Processing
unidecode
#regex
openai-whisper

# Image Processing
matplotlib

imageio
imageio[pyav]
scikit-video

deepface


# Dates
#roman
